fastapi==0.103.*
uvicorn[standard]==0.23.*
sqlalchemy==2.0.*
alembic==1.12.*
pydantic==2.3.*
pydantic-settings==2.0.*
bcrypt==5.*
pyjwt==2.8.*
apscheduler==3.10.4
dateparser==1.1.8
pywebpush==1.14.1
python-multipart==0.0.6
email-validator==2.0.*
